{%extends 'base.html'%}

{% block content %}
<div class="jumbotron text-center" style="padding: 20px; background-color: #E9ECEF;">
  <h1 class="display-4">Anna Jolly оптом</h1>
  <p class="lead">Anna Jolly - китайский производитель нижнего белья.</p>
  <div class="container text-center">
    <img src="./static/img/anna-jolly-logo.png" class="img-fluid" alt="Anna Jolly купить">
  </div>
</div>
<div class="container text-center vendor-btn">
        <a class="btn btn-danger" href="/contacts">Узнать цены</a>
      </div>
      
      
      <br>
      
      <div class="container text-center">
        <p class="seo-text">
          Anna Jolly - НИЖНЕЕ БЕЛЬЕ ОПТОМ В УКРАИНЕ
        </p>
      </div>
      
      {% include "footer.html" %}
      {% endblock %}