<!DOCTYPE html>
<html lang="ru" dir="ltr">

  <head>

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Нижнее бельё оптом</title>
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>

  <body>
    <div class="header dropdown">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link d-sm-block" href="/">Главная</a>
        <a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бренды</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item" href="/lanny_mode">Lanny Mode</a>
     <a class="dropdown-item" href="/coeur_joie">Coeur Joie</a>
     <a class="dropdown-item" href="#">Anna Jolly</a>
     <a class="dropdown-item" href="#">Diarela</a>
     <a class="dropdown-item" href="#">Donafen</a>
     <a class="dropdown-item" href="#">Камiння</a>
     <a class="dropdown-item" href="#">Weicy</a>
          </div>
        <a class="nav-item nav-link" href="/contacts">Контакты</a>
      </nav>
    </div>

{% block content %}
{% endblock %}





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>