{%extends 'base.html'%}

{% block content %}

<br>
<h1 class="text-center"> Coeur Joie </h1>
<p class="text-center container"> Coeur Joie - китайский производитель нижнего белья.</p>
<div class="container text-center">
    <img src="./static/img/coeur-joie-logo.png" class="img-fluid" alt="lanny mode купить">
  </div>

<!-- <table class="table table-bordered table-dark container">
  <thead>
    <tr>
      <th scope="col" class="text-center" colspan="5">Трендовые / актуальные модели</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">Модель</th>
      <td>Цена</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">11224</th>
      <td>$ 3,5</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">11225</th>
      <td>$ 3,5</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">11226</th>
      <td>$ 3,5</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">11227-a</th>
      <td>$ 3,5</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">112267</th>
      <td>$ 3</td>
    </tr> -->

  </tbody>
</table>

<div class="container text-center vendor-btn">
    <a class="btn btn-danger" href="/contacts">Узнать цены</a>
  </div>
  
  
  <br>

<br>
<p class="container seo-text">
  Coeur Joie - НИЖНЕЕ БЕЛЬЕ ОПТОМ В УКРАИНЕ
Предлагаем купить нижнее белье оптом по цене производителя!
Мы являемся официальным дистрибьютором женского белья торговой марки Coeur Joie в Харькове, работаем без посредников напрямую от фабрики производителя.
В нашем каталоге представлены все новые модели комплектов, бюстгальтеров и трусиков.
Мы делаем прямые закупки на фабрике производителя в Китае.
Помимо торговой марки Лани Мода в оптовом интернет магазине представлены и другие фирмы производители белья.
<p>

{% include "footer.html" %}
{% endblock %}
