{%extends 'base.html'%}


{% block content %}

<br>
<h1 class="text-center container">Свжятесь с нами удобным для вас способом</h1>
<h3 class="text-center container">Чтобы уточнить цены и оформить заказ 👇</h3>


<div class="container text-center contacts-container">
    <a class="btn btn-primary btn-lg col-lg-3 phone" href="tel:0501634035">Позвонить</a>
    <a class="btn btn-primary btn-lg col-lg-3 viber" role="button" href="viber://chat?number=%2B380501634035">Написать в
        Viber</a>
    <a class="btn btn-primary btn-lg col-lg-3 telegram" role="button" href="tel:099-999-99-99">Написать в Telegram</a>
</div>

{% endblock %}