{%extends 'base.html'%}

{% block content %}

<div class="jumbotron text-center container">
  <h1 class="display-4">Нижнее бельё оптом</h1>
    <p class="lead">Купить оптом нижнее бельё ведущих турецких и китайских производителей:
      <a href="/lanny_mode">Lanny Mode</a>,
      <a href="/coeur_joie">Coeur Joie</a>,
      <a href="#">Anna Jolly</a>,
      <a href="#">Diarela</a>,
      <a href="#">Donafen</a>,
      <a href="#">Камiння</a>,
      <a href="#">Weicy</a>
    </p>
    <br>
    <h4 class="container text-center"> Производители 👇</h4>
</div>

<div class="container">
  <div class="card-deck-wrapper ">
    <div class="card-deck cards row">

          <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title">Lanny Mode</h4>
              <p class="card-text">Трикотаж
                <br> Бюстгальтеры
                <br> Трусики</p>
              <a href="/lanny_mode" class="btn btn-primary btn-card">Смотреть модели</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
              <div class="card bg-light text-center">
                <div class="card-block">
                  <h4 class="card-title">Coeur Joie</h4>
                  <p class="card-text"> Бюстгальтеры
                    <br> Трикотаж
                    <br> Трусики</p>
                  <a href="/coeur_joie" class="btn btn-primary btn-card">Смотреть модели</a>
                </div>
              </div>
            </div>

        <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card text-center">
                    <div class="card-block">
                      <h4 class="card-title">AnnaJolly</h4>
                      <p class="card-text">Трикотаж
                        <br> Бюстгальтеры
                        <br> Трусики</p>
                      <a href="#" class="btn btn-primary btn-card">Смотреть модели</a>
                    </div>
                  </div>
                </div>

        <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card text-center">
                        <div class="card-block">
                          <h4 class="card-title">Diarela</h4>
                          <p class="card-text">Трикотаж
                            <br> Бюстгальтеры
                            <br> Трусики</p>
                          <a href="#" class="btn btn-primary btn-card">Смотреть модели</a>
                        </div>
                      </div>
                    </div>

          <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card text-center">
                            <div class="card-block">
                              <h4 class="card-title">Donafen</h4>
                              <p class="card-text">Трикотаж
                                <br> Бюстгальтеры
                                <br> Трусики</p>
                              <a href="#" class="btn btn-primary btn-card">Смотреть модели</a>
                            </div>
                          </div>
                        </div>

          <div class="col-lg-4 col-md-6 mb-4">
                              <div class="card text-center">
                                <div class="card-block">
                                  <h4 class="card-title">Камiння</h4>
                                  <p class="card-text">Трикотаж
                                    <br> Бюстгальтеры
                                    <br> Трусики</p>
                                  <a href="#" class="btn btn-primary btn-card">Смотреть модели</a>
                                </div>
                              </div>
                            </div>

          <div class="col-lg-4 col-md-6 mb-4">
                                  <div class="card text-center">
                                    <div class="card-block">
                                      <h4 class="card-title">Weicy</h4>
                                      <p class="card-text">Трикотаж
                                        <br> Бюстгальтеры
                                        <br> Трусики</p>
                                      <a href="#" class="btn btn-primary btn-card">Смотреть модели</a>
                                    </div>
                                  </div>
                                </div>

{% include "footer.html" %}
{% endblock %}

