{%extends 'base.html'%}

{% block content %}
<div class="jumbotron text-center" style="padding: 20px; background-color: #E9ECEF;">
  <h1 class="display-4">Коминня Lingerie оптом</h1>
  <p class="lead">Коминня Lingerie - китайский производитель нижнего белья.</p>
  <!-- <div class="container text-center">
    <img src="./static/img/lanny-logo.png" class="img-fluid" alt="Коминня купить">
  </div> -->
</div>
<div class="container text-center vendor-btn">
        <a class="btn btn-danger" href="/contacts">Узнать цены</a>
      </div>
      
      
      <br>
      
      <div class="container text-center">
        <p class="seo-text">
          Коминня Lingerie - НИЖНЕЕ БЕЛЬЕ ОПТОМ В УКРАИНЕ
        </p>
      </div>
      
      {% include "footer.html" %}
      {% endblock %}