{%extends 'base.html'%}

{% block content %}

<br>
<div class="container">
<h1 class="text-center"> Lanny Mode </h1>
<p class="text-center container "> Lanny Mode - китайский производитель нижнего белья.
Купить ланни мод оптом с доставкой по всей Украине. Бюстгальтеры от $5, трусики от $2.</p>
</div>

<table class="table table-bordered table-dark container tabble-price">
  <thead>
    <tr>
      <th scope="col" class="text-center" colspan="5">Трендовые / актуальные модели</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 11577</th>
      <td>Lanny Mode 51577</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 12781</th>
      <td>Lanny Mode 11528</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51528</th>
      <td>Lanny Mode 11911</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51911</th>
      <td>Lanny Mode 12830</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 52830</th>
      <td>Lanny Mode 11957</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51957</th>
      <td>Lanny Mode 12786</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 22786</th>
      <td>Lanny Mode 11891</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51891</th>
      <td>Lanny Mode 11268</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 11118</th>
      <td>Lanny Mode 11023</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51023</th>
      <td>Lanny Mode 11420</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 11618</th>
      <td>Lanny Mode 11886</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 21886</th>
      <td>Lanny Mode 10930</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 11804</th>
      <td>Lanny Mode 11171</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51171</th>
      <td>Lanny Mode 12839</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 52839</th>
      <td>Lanny Mode 11340</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51340</th>
      <td>Lanny Mode 11910</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 222910</th>
      <td>Lanny Mode 11202</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 2004</th>
      <td>Lanny Mode 9113</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 9114</th>
      <td>Lanny Mode 12491</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 52491</th>
      <td>Lanny Mode 11678</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51678</th>
      <td>Lanny Mode 11440</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 21440</th>
      <td>Lanny Mode 11558</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51558</th>
      <td>Lanny Mode 11159</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 51159</th>
      <td>Lanny Mode 11438</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Lanny Mode 11568</th>
      <td>Lanny Mode 11958</td>
    </tr>
    <tr>
      <th scope="col" class="text-center" colspan="5">Lanny Mode 51958</th>
    </tr>
    

  </tbody>
</table>

<div class="container text-center">
  <a class="btn btn-danger" href="/contacts">Узнать цены</a>
</div>

<br>

<div class="container">
  <p class="seo-text">
LANNY MODE - НИЖНЕЕ БЕЛЬЕ ОПТОМ В УКРАИНЕ
Предлагаем купить нижнее белье оптом по цене производителя!
Мы являемся официальным дистрибьютором женского белья торговой марки Lanny Mode в Харькове, работаем без посредников напрямую от фабрики производителя.
В нашем каталоге представлены все новые модели комплектов, бюстгальтеров и трусиков Лени Мод.
Мы делаем прямые закупки на фабрике производителя в Китае.
Помимо торговой марки Лани Мода в оптовом интернет магазине представлены и другие фирмы производители белья.
  </p>
</div>

{% include "footer.html" %}
{% endblock %}
